<!DOCTYPE html>
<html>

<head>
    <title>话题圈</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/global.css" />
    <link rel="stylesheet" type="text/css" href="../css/guid-page/circle-finish.css" />
</head>

<body>
  <!--头部-->
  <header class="cf-header pAll10">
     <div class="cf-header-top mb20">
        <img src="../images/icon/logo.png" class="fl"/>
        <img src="../images/icon/shade-white.png" class="fr" />
     </div>

      <div class="cf-header-bottom">
          <img src="../images/avatar/3.jpeg" class="fl cf-header-bottom-avatar mr10"/>
          <div class="cf-header-bottom-right fl">
            <p class="fz18 mb10">我是大声圈</p>
            <p class="fz12">1关注 &nbsp; 1帖子</p>
            <p class="fz14">连续签到1天</p>
          </div>
      </div>
  </header>
  
  <!--发表圈子内容-->
  <section class="cf-section">

      <div class="cf-seciton-sort plr10 mb10">
          <span class="fl fz14">排序</span>
          <span class="fr theme-black666">最新评论</span>
      </div>
      

      <ol class="cf-section-circleList">
          <li>
              <!--圈子标题 头像名称等等。。。。-->
              <div class="circleList-top">
                  <img src="../images/icon/logo-1.jpeg" class="fl mr10 circleList-top-avatar"/>
                  <div class="fl">
                      <span class="fz14">话题圈小助手</span>
                      <p class="fz12 theme-gray"><span>36分钟前</span>&nbsp;&nbsp;<span>10阅</span></p>
                  </div>
                   <span class="fr theme-gray mt10">. . .</span>
              </div>
              <!--圈子内容 -->
              <div class="circleList-center fz16 mt15">
                  <p>运营秘籍，新手圈主必看！</p>
                  <p>各位新手圈主，以下是圈运营秘籍，只要按照以下步骤运营圈，就能为圈聚集更多人气，提升圈活跃度，营造和谐温暖圈氛围，大家一同愉快操练起来吧</p>

                  <div class="circleList-center-picture">
                      <img src="../images/circle/1.jpeg" />
                      <img src="../images/circle/2.jpeg" />
                      <img src="../images/circle/3.jpeg" />
                  </div>
              </div>
               <!--圈子点赞 评论 -->
              <div class="circleList-bottom mt10 theme-black666">
                    <div>
                        <i class="iconfont icon-xiaoxi "></i>
                        <span>2</span>
                    </div>
                    <div>
                        <i class="iconfont icon-zan "></i>
                        <span>0</span>
                    </div>
               </div>
          </li>
      </ol>
      
      <p class="fz12 theme-gray noMore ptb20">没有更多内容</p>

      <!--创建帖子-->
      <div class="createCircle J_createCircle"></div>

  </section>
  


  <!--创建新帖子-->
  <section class="cf-createCard hide">
        <ul class="createCard-type">
            <a href="circle-card.html"><li>
                <img src="../images/icon/tiezi.png" class="mb20"/>
                <p class="fz16 theme-black666">帖子</p>
            </li></a>
            <a href="circle-article.html"><li>
                <img src="../images/icon/wenzhang.png" class="mb20"/>
                <p class="fz16 theme-black666">文章</p>
            </li></a>
            <li>
                <img src="../images/icon/vote.svg" class="mb20"/>
                <p class="fz16 theme-black666">投票</p>
            </li>
            <li>
                <img src="../images/icon/live.svg" class="mb20"/>
                <p class="fz16 theme-black666">直播</p>
            </li>   
            <li>
                <img src="../images/icon/video.png" class="mb20"/>
                <p class="fz16 theme-black666">视频</p>
            </li>
            <li>
                <img src="../images/icon/topic.png" class="mb20"/>
                <p class="fz16 theme-black666">话题</p>
            </li>
        </ul>
        <div class="createCard-close J_close"></div>
  </section>
</body>

</html>
<script type="text/javascript" src="../js/product/zepto/zepto.min.js"></script>
<script type="text/javascript" src="../js/product/zepto/touch.js"></script>
<script type="text/javascript" src="../js/guid-page/circle-finish.js"></script>

