<!DOCTYPE html>
<html>
<head>
	<title>话题圈</title>
	<meta charset="utf-8">
	<meta  name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="../css/global.css" />
	<link rel="stylesheet" type="text/css" href="../css/guid-page/index.css" />
</head>
<body>
	<!--头部-->
	<header class="header">
		<div class="header-top theme-bgGreen plr15">
			<div class="fl">
				<i class="iconfont icon-fenlei pr10"></i>
				<span class="fz16">话题圈</span>
			</div>
			
			<div class="fr">
				<a href="search.html"><i class="iconfont icon-sousuo pr10"></i></a>
				<a href="login.html"><i class="iconfont icon-yonghu fz20"></i></a>
			</div>
		</div>
		<ul class="header-nav fz16 mb10 J_nav">
			<li class="active">动态</li>
			<li>发现</li>
			<li>圈子</li>
		</ul>
	</header>


	<!--END-->
	<!--核心内容 动态-->
	<section class="sectionTrends mt98 show">
		
		<!--动态列表-->
		<ol class="sectionTrends-trendsList">
			<a href="trendsDetail.html"><li class="pAll15">
				<!--用户信息和类别展示-->
				<div class="trendsList-liHeader fz14">
					<div class="fl">
						<img src="../images/avatar/0.jpeg" />
						<span class="theme-gray">耐看型的苏小妹</span>
					</div>
					<span class="fr theme-blue">女神直播圈</span>
				</div>
				<!--END-->
				<div class="trendsList-liSection">
					<!--发表标题-->
					<div class="liSection-title ptb10">
						<span class="common-btn  theme-bgRed">直播</span>
						<h4 class="fz20 mtb10 theme-black">工地的一天</h4>
					</div>

					<!--发表内容-->
					<ul>
						<li>
							<img src="../images/gd.jpeg" />
						</li>
						<li>
							<img src="../images/gd1.jpeg" />
						</li>
						<li>
							<img src="../images/gd2.jpeg" />
						</li>
					</ul>
					<!--END-->

					<!--用户评论-->
					<div class="liSection-comment fz12">
               			<span class="txt-username">么么姐:</span>
                		<span class="txt-detail">好棒👍 ！</span>
					</div>
					<!--END-->
					
					<!--用户点赞 阅读 时间等等。。。-->
					<div class="fz12 mt15 liSection-info">
						<div class="fl theme-grayAAA">
							<span class="mr10">19小时前</span>
							<span>1.0万 阅</span>
						</div>
						<div class="fr theme-black666">
							<i class="iconfont icon-xiaoxi "></i>
							<span class="mr20">19</span>
							
							<i class="iconfont icon-zan "></i>
							<span>100</span>
						</div>
					</div>
					<!--END-->
				</div>
				<!--END-->
			</li></a>
			<a href="trendsDetail.html"><li class="pAll15">
				<!--用户信息和类别展示-->
				<div class="trendsList-liHeader fz14">
					<div class="fl">
						<img src="../images/avatar/1.jpeg" />
						<span class="theme-gray">潘金莲</span>
					</div>
					<span class="fr theme-blue">谜语大家猜圈</span>
				</div>
				<!--END-->
				<div class="trendsList-liSection">
					<!--发表标题-->
					<div class="liSection-title ptb10">
						<h4 class="fz16 mtb10 ">看图猜成语，有难度！！</h4>
					</div>

					<!--发表内容-->
					<ul>
						<li>
							<img src="../images/gd.jpeg" />
						</li>
						<li>
							<img src="../images/gd1.jpeg" />
						</li>
						<li>
							<img src="../images/gd2.jpeg" />
						</li>
					</ul>
					<!--END-->

					<!--用户评论-->
					<div class="liSection-comment fz12">
               
					</div>
					<!--END-->
					
					<!--用户点赞 阅读 时间等等。。。-->
					<div class="fz12 mt15 liSection-info">
						<div class="fl theme-grayAAA">
							<span class="mr10">9小时前</span>
							<span>1660万 阅</span>
						</div>
						<div class="fr theme-black666">
							<i class="iconfont icon-xiaoxi "></i>
							<span class="mr20">10</span>
							
							<i class="iconfont icon-zan "></i>
							<span>10</span>
						</div>
					</div>
					<!--END-->
				</div>
				<!--END-->
			</li></a>
			<a href="trendsDetail.html"><li class="pAll15">
				<!--用户信息和类别展示-->
				<div class="trendsList-liHeader fz14">
					<div class="fl">
						<img src="../images/avatar/2.gif" />
						<span class="theme-gray">武大郎</span>
					</div>
					<span class="fr theme-blue"> 影视话题圈</span>
				</div>
				<!--END-->
				<div class="trendsList-liSection">
					<!--发表标题-->
					<div class="liSection-title ptb10">
						<span class="common-btn  theme-bgGreen">长文图</span>
						<h4 class="fz20 mtb10 theme-black">
                            戏好不在钱多，这些穷剧组出的神剧，你最喜欢哪部？
                        </h4>
					</div>

					<!--发表内容-->
					<ul>
						<li>
							<img src="../images/gd.jpeg" />
						</li>
						<li>
							<img src="../images/gd1.jpeg" />
						</li>
						<li>
							<img src="../images/gd2.jpeg" />
						</li>
					</ul>
					<!--END-->

					<!--用户评论-->
					<div class="liSection-comment fz12">
               			<span class="txt-username">么么姐:</span>
                		<span class="txt-detail">某作宣传上亿元大制作，结果钱都花演员片酬上了。</span>
					</div>
					<!--END-->
					
					<!--用户点赞 阅读 时间等等。。。-->
					<div class="fz12 mt15 liSection-info">
						<div class="fl theme-grayAAA">
							<span class="mr10">19小时前</span>
							<span>1.0万 阅</span>
						</div>
						<div class="fr theme-black666">
							<i class="iconfont icon-xiaoxi "></i>
							<span class="mr20">19</span>
							
							<i class="iconfont icon-zan "></i>
							<span>100</span>
						</div>
					</div>
					<!--END-->
				</div>
				<!--END-->
			</li></a>
		</ol>
		<!--END-->
	</section>

	<!--核心内容 发现-->
	<section class="sectionFind mt98 ">
		<img src="../images/banner.jpg" class="dpImg"/>
		<!--分类-->
		<ul class="sectionFind-menu">
			<li>
				<img src="../images/classify/qinggan.png" />
				<p>情感</p>
			</li>
			<li>
				<img src="../images/classify/gaoxiao.png" />
				<p>搞笑</p>
			</li>
			<li>
				<img src="../images/classify/shenghuo.png" />
				<p>生活</p>
			</li>
			<li>
				<img src="../images/classify/mingxing.png" />
				<p>明星</p>
			</li>
			<li>
				<img src="../images/classify/wenxue.png" />
				<p>文学</p>
			</li>
			<li>
				<img src="../images/classify/xingzuo.png" />
				<p>星座命理</p>
			</li>
			<li>
				<img src="../images/classify/erciyuan.png" />
				<p>二次元</p>
			</li>
			<li>
				<img src="../images/classify/meitu.png" />
				<p>美图</p>
			</li>
			<li>
				<img src="../images/classify/youxi.png" />
				<p>游戏</p>
			</li>
			<li>
				<img src="../images/classify/yundong.png" />
				<p>运动</p>
			</li>
		</ul>
		<!--新圈排行-->
		<div class="sectionFind-sort  mt10">

			<h2 class="theme-black-1e1e1e fz16 pl10 pt10">新圈排行</h2>
			<ol class="sectionCircle-list mt10">
				<li >
					<!--左侧icon-->
					<div class="list-price fl mr15">
						<span >1</span>
						<img src="../images/find/xq.jpeg" class="sectionCircle-left"/>
					</div>

					<!--中间介绍内容-->
					<div class=" fl list-li-center">
						<h3 class="fz16">软软其实不太硬圈</h3>
						<p class="theme-gray mtb8 text-ellipsis">精分搞笑原创视频博主</p>
						<p class="theme-gray"><span>1498</span>圈友 &nbsp;&nbsp;&nbsp; <span>49</span>帖子</p>
					</div>

					<!--右侧去看看和关注按钮-->
					<div class="fr concern-btn mt15">去看看</div>
				</li>



				<li >
					<!--左侧icon-->
					<div class="list-price fl mr15">
						<span class="theme-bgOrage">2</span>
						<img src="../images/find/xq1.jpeg" class="sectionCircle-left"/>
					</div>

					<!--中间介绍内容-->
					<div class=" fl list-li-center">
						<h3 class="fz16">高端时尚圈</h3>
						<p class="theme-gray mtb8 text-ellipsis">走近High Fashion</p>
						<p class="theme-gray"><span>4988</span>圈友 &nbsp;&nbsp;&nbsp; <span>21</span>帖子</p>
					</div>

					<!--右侧去看看和关注按钮-->
					<div class="fr concern-btn mt15">关注</div>
				</li>


				<li >
					<!--左侧icon-->
					<div class="list-price fl mr15">
						<span class="theme-bgOrange-ffb300">3</span>
						<img src="../images/find/xq2.jpeg" class="sectionCircle-left"/>
					</div>

					<!--中间介绍内容-->
					<div class=" fl list-li-center">
						<h3 class="fz16">喵爸喵妈手工圈</h3>
						<p class="theme-gray mtb8 text-ellipsis">感谢有你～让平凡的布变成暖暖的爱~</p>
						<p class="theme-gray"><span>1546</span>圈友 &nbsp;&nbsp;&nbsp; <span>13</span>帖子</p>
					</div>

					<!--右侧去看看和关注按钮-->
					<div class="fr concern-btn mt15">关注</div>
				</li>
				<li >
					<!--左侧icon-->
					<div class="list-price fl mr15">
						<img src="../images/find/xq3.jpeg" class="sectionCircle-left"/>
					</div>

					<!--中间介绍内容-->
					<div class=" fl list-li-center">
						<h3 class="fz16">天天影视街圈</h3>
						<p class="theme-gray mtb8 text-ellipsis">为影视爱好者提供讨论和资源的天地！快快加入我们队伍吧</p>
						<p class="theme-gray"><span>3243</span>圈友 &nbsp;&nbsp;&nbsp; <span>13</span>帖子</p>
					</div>

					<!--右侧去看看和关注按钮-->
					<div class="fr concern-btn mt15 concernActive">去看看</div>
				</li>
			</ol>
			<div class="list-allCircle">全部圈子</div>
		</div>
		<!--圈总排行-->
		<div class="sectionFind-sort  mt10">
			<h2 class="theme-black-1e1e1e fz16 pl10 pt10">圈总排行</h2>
			<ol class="sectionCircle-list mt10">
				<li >
					<!--左侧icon-->
					<div class="list-price fl mr15">
						<span >1</span>
						<img src="../images/find/qz.jpeg" class="sectionCircle-left"/>
					</div>

					<!--中间介绍内容-->
					<div class=" fl list-li-center">
						<h3 class="fz16">器泡圈</h3>
						<p class="theme-gray mtb8 text-ellipsis">秀自己，搞事情</p>
						<p class="theme-gray"><span>1498</span>圈友 &nbsp;&nbsp;&nbsp; <span>49</span>帖子</p>
					</div>

					<!--右侧去看看和关注按钮-->
					<div class="fr concern-btn mt15 concernActive">去看看</div>
				</li>



				<li >
					<!--左侧icon-->
					<div class="list-price fl mr15">
						<span class="theme-bgOrage">2</span>
						<img src="../images/find/qz1.jpeg" class="sectionCircle-left"/>
					</div>

					<!--中间介绍内容-->
					<div class=" fl list-li-center">
						<h3 class="fz16">情感夜话圈</h3>
						<p class="theme-gray mtb8 text-ellipsis">你若不离不弃，我必生死相依！</p>
						<p class="theme-gray"><span>4988</span>圈友 &nbsp;&nbsp;&nbsp; <span>21</span>帖子</p>
					</div>

					<!--右侧去看看和关注按钮-->
					<div class="fr concern-btn mt15">关注</div>
				</li>


				<li >
					<!--左侧icon-->
					<div class="list-price fl mr15">
						<span class="theme-bgOrange-ffb300">3</span>
						<img src="../images/find/qz2.jpeg" class="sectionCircle-left"/>
					</div>

					<!--中间介绍内容-->
					<div class=" fl list-li-center">
						<h3 class="fz16">完美世界圈</h3>
						<p class="theme-gray mtb8 text-ellipsis">等我回来，带你看尽世间璀璨。~</p>
						<p class="theme-gray"><span>1546</span>圈友 &nbsp;&nbsp;&nbsp; <span>13</span>帖子</p>
					</div>

					<!--右侧去看看和关注按钮-->
					<div class="fr concern-btn mt15">关注</div>
				</li>
				<li >
					<!--左侧icon-->
					<div class="list-price fl mr15">
						<img src="../images/find/qz3.jpeg" class="sectionCircle-left"/>
					</div>

					<!--中间介绍内容-->
					<div class=" fl list-li-center">
						<h3 class="fz16">全民话题圈</h3>
						<p class="theme-gray mtb8 text-ellipsis">全民话题.期待您的参与其中！</p>
						<p class="theme-gray"><span>3243</span>圈友 &nbsp;&nbsp;&nbsp; <span>13</span>帖子</p>
					</div>

					<!--右侧去看看和关注按钮-->
					<div class="fr concern-btn mt15 ">关注</div>
				</li>
			</ol>
			<div class="list-allCircle">全部圈子</div>
		</div>
		<!--惬意小生活-->
		<div class="sectionFind-sort  mt10">
			<h2 class="theme-black-1e1e1e fz16 pl10 pt10">惬意小生活</h2>
			<ol class="sectionCircle-list mt10">
				<li >
					<!--左侧icon-->
					<div class="list-price fl mr15">
						<span >1</span>
						<img src="../images/find/qy.jpeg" class="sectionCircle-left"/>
					</div>

					<!--中间介绍内容-->
					<div class=" fl list-li-center">
						<h3 class="fz16">厨艺人生圈</h3>
						<p class="theme-gray"><span>1498</span>圈友 &nbsp;&nbsp;&nbsp; <span>49</span>帖子</p>
					</div>

					<!--右侧去看看和关注按钮-->
					<div class="fr concern-btn mt15 concernActive">去看看</div>
				</li>



				<li >
					<!--左侧icon-->
					<div class="list-price fl mr15">
						<span class="theme-bgOrage">2</span>
						<img src="../images/find/qy1.jpeg" class="sectionCircle-left"/>
					</div>

					<!--中间介绍内容-->
					<div class=" fl list-li-center">
						<h3 class="fz16">生活随手记圈</h3>
						<p class="theme-gray mtb8 text-ellipsis">记录或感动或搞笑的身边事儿</p>
						<p class="theme-gray"><span>4988</span>圈友 &nbsp;&nbsp;&nbsp; <span>21</span>帖子</p>
					</div>

					<!--右侧去看看和关注按钮-->
					<div class="fr concern-btn mt15">关注</div>
				</li>


				<li >
					<!--左侧icon-->
					<div class="list-price fl mr15">
						<span class="theme-bgOrange-ffb300">3</span>
						<img src="../images/find/qy2.jpeg" class="sectionCircle-left"/>
					</div>

					<!--中间介绍内容-->
					<div class=" fl list-li-center">
						<h3 class="fz16">烘焙爱好者圈</h3>
						<p class="theme-gray mtb8 text-ellipsis">烘焙给人带来幸福</p>
						<p class="theme-gray"><span>1546</span>圈友 &nbsp;&nbsp;&nbsp; <span>13</span>帖子</p>
					</div>

					<!--右侧去看看和关注按钮-->
					<div class="fr concern-btn mt15">关注</div>
				</li>
				<li >
					<!--左侧icon-->
					<div class="list-price fl mr15">
						<img src="../images/find/qy3.jpeg" class="sectionCircle-left"/>
					</div>

					<!--中间介绍内容-->
					<div class=" fl list-li-center">
						<h3 class="fz16">多肉新手圈</h3>
						<p class="theme-gray mtb8 text-ellipsis">爱花人与心情</p>
						<p class="theme-gray"><span>3243</span>圈友 &nbsp;&nbsp;&nbsp; <span>13</span>帖子</p>
					</div>

					<!--右侧去看看和关注按钮-->
					<div class="fr concern-btn mt15 ">关注</div>
				</li>
			</ol>
		</div>
		<!--爱听歌的人会有多少故事-->
		<div class="sectionFind-sort  mt10">
			<h2 class="theme-black-1e1e1e fz16 pl10 pt10">爱听歌的人会有多少故事</h2>
			<ol class="sectionCircle-list mt10">
				<li >
					<!--左侧icon-->
					<div class="list-price fl mr15">
						<span >1</span>
						<img src="../images/find/atg.jpeg" class="sectionCircle-left"/>
					</div>

					<!--中间介绍内容-->
					<div class=" fl list-li-center">
						<h3 class="fz16">音乐分享圈</h3>
						<p class="theme-gray mtb8 text-ellipsis">如果世界太危险 只有音乐最安全</p>
						<p class="theme-gray"><span>1498</span>圈友 &nbsp;&nbsp;&nbsp; <span>49</span>帖子</p>
					</div>

					<!--右侧去看看和关注按钮-->
					<div class="fr concern-btn mt15 concernActive">去看看</div>
				</li>



				<li >
					<!--左侧icon-->
					<div class="list-price fl mr15">
						<span class="theme-bgOrage">2</span>
						<img src="../images/find/atg1.jpeg" class="sectionCircle-left"/>
					</div>

					<!--中间介绍内容-->
					<div class=" fl list-li-center">
						<h3 class="fz16">古风歌曲圈</h3>
						<p class="theme-gray mtb8 text-ellipsis">爱古风歌曲的都进来晒一晒自己喜欢的古风句子和古风歌曲吧！</p>
						<p class="theme-gray"><span>4988</span>圈友 &nbsp;&nbsp;&nbsp; <span>21</span>帖子</p>
					</div>

					<!--右侧去看看和关注按钮-->
					<div class="fr concern-btn mt15">关注</div>
				</li>


				<li >
					<!--左侧icon-->
					<div class="list-price fl mr15">
						<span class="theme-bgOrange-ffb300">3</span>
						<img src="../images/find/atg2.jpeg" class="sectionCircle-left"/>
					</div>

					<!--中间介绍内容-->
					<div class=" fl list-li-center">
						<h3 class="fz16">歌词圈</h3>
						<p class="theme-gray mtb8 text-ellipsis">总有一句歌词戳中心窝</p>
						<p class="theme-gray"><span>1546</span>圈友 &nbsp;&nbsp;&nbsp; <span>13</span>帖子</p>
					</div>

					<!--右侧去看看和关注按钮-->
					<div class="fr concern-btn mt15">关注</div>
				</li>
				<li >
					<!--左侧icon-->
					<div class="list-price fl mr15">
						<img src="../images/find/atg3.jpeg" class="sectionCircle-left"/>
					</div>

					<!--中间介绍内容-->
					<div class=" fl list-li-center">
						<h3 class="fz16">民谣圈</h3>
						<p class="theme-gray mtb8 text-ellipsis">喜欢民谣的朋友，欢迎大家发帖，分享民谣故事，民谣歌曲。</p>
						<p class="theme-gray"><span>3243</span>圈友 &nbsp;&nbsp;&nbsp; <span>13</span>帖子</p>
					</div>

					<!--右侧去看看和关注按钮-->
					<div class="fr concern-btn mt15 ">关注</div>
				</li>
			</ol>
		</div>
	</section>

	<!--核心内容 -->
	<section class="sectionCircle mt98">
		<ol class="plr15 sectionCircle-list">
			<li >

				<img src="../images/avatar/3.jpeg" class="sectionCircle-left fl mr15"/>
				<div class="pt15 fl">
					<h3 class="mb10 fz16">杨老湿发表的测试</h3>
					<p class="theme-gray"><span>1</span>圈友 &nbsp;&nbsp;&nbsp; <span>1</span>帖子</p>
				</div>


			</li>
			<a href="circle-create.html"> <li class="sectionCircle-add theme-black">
				<div class="fl  sectionCircle-left mr15"></div>
				<span class="fl fz16">创建圈子</span>
			</li></a>
		</ol>
		
	</section>
    
</body>
</html>
<script type="text/javascript" src="../js/product/zepto/zepto.min.js"></script>
<script type="text/javascript" src="../js/product/zepto/touch.js"></script>
<script type="text/javascript" src="../js/guid-page/index.js"></script>
