<!DOCTYPE html>
<html>

<head>
    <title>话题圈</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/global.css" />
    <link rel="stylesheet" type="text/css" href="../css/guid-page/login.css" />
</head>

<body >
    <!--头部-->
    <header class="common-header ">
        <a  href="javascript:history.back(-1)" >返回</a>  
        <h4>登陆/注册</h4>
    </header>

	<!--登录注册入口样式-->
	<div class="wrapperEntry">

        <img src="../images/icon/logo.jpg" class="wrapperEntry-icon"/>
		<div class="wrapperLogin-login pAll15">
            <span class="common-input fl">
				登录
			</span>
            <span class="common-input fr">
				注册
			</span>
        </div>
	</div>
	<!--登录样式-->
    <div class="wrapperLogin pAll20">
        <div class="wrapperLogin-area">
            <span class="fl">+86</span>
            <select class="fl"> 
            	<option value="1" data-prefix="86">中国大陆 + 86</option>
                <option value="2" data-prefix="1">美国 + 1</option>
                <option value="3" data-prefix="971">阿拉伯联合酋长国 + 971</option>
                <option value="4" data-prefix="93">阿富汗 + 93</option>
                <option value="5" data-prefix="852">中国香港 + 852</option>
                <option value="6" data-prefix="385">克罗地亚 + 385</option>
                <option value="7" data-prefix="91">印度 + 91</option>
                <option value="8" data-prefix="964">伊拉克 + 964</option>
                <option value="9" data-prefix="98">伊朗 + 98</option>
                <option value="10" data-prefix="354">冰岛 + 354</option>
                <option value="11" data-prefix="39">意大利 + 39</option>
                <option value="12" data-prefix="1876">牙买加 + 1876</option>
                <option value="13" data-prefix="81">日本 + 81</option>
                <option value="14" data-prefix="254">肯尼亚 + 254</option>
                <option value="15" data-prefix="996">吉尔吉斯斯坦 + 996</option>
                <option value="16" data-prefix="855">柬埔寨 + 855</option>
                <option value="17" data-prefix="886">台湾 + 886</option>
                <option value="18" data-prefix="84">越南 + 84</option>
                <option value="19" data-prefix="27">南非 + 27</option>
            </select>
        </div>
        <input type="number" placeholder="请输入手机号" class="common-input mtb10 pl15" />
        <input type="number" placeholder="请输入密码，必须是6-16位，区分大小写" class="common-input pl15" />
        <input type="button" value="登陆" class="common-input  J_login" />
        <p class="mtb-bfb fz14">或者</p>
        <p class="theme-gray">社交账号快速登录</p>
        <div class="wrapperLogin-login">
            <span class="common-input fl">
				<img src="../images/login/weibo.png" />
				微博登录
			</span>
            <span class="common-input fr">
				<img src="../images/login/qq.png" />
				QQ登录
			</span>
        </div>
    	<div class="wrapperLogin-close" data-index="0">
    		<img src="../images/login/close.png" />
    	</div>
    </div>
	<!--注册样式-->
	<div class="wrapperLogin pAll20">
        <div class="wrapperLogin-area">
            <span class="fl">+86</span>
            <select class="fl">
                <option value="1" data-prefix="86">中国大陆 + 86</option>
                <option value="2" data-prefix="1">美国 + 1</option>
                <option value="3" data-prefix="971">阿拉伯联合酋长国 + 971</option>
                <option value="4" data-prefix="93">阿富汗 + 93</option>
                <option value="5" data-prefix="852">中国香港 + 852</option>
                <option value="6" data-prefix="385">克罗地亚 + 385</option>
                <option value="7" data-prefix="91">印度 + 91</option>
                <option value="8" data-prefix="964">伊拉克 + 964</option>
                <option value="9" data-prefix="98">伊朗 + 98</option>
                <option value="10" data-prefix="354">冰岛 + 354</option>
                <option value="11" data-prefix="39">意大利 + 39</option>
                <option value="12" data-prefix="1876">牙买加 + 1876</option>
                <option value="13" data-prefix="81">日本 + 81</option>
                <option value="14" data-prefix="254">肯尼亚 + 254</option>
                <option value="15" data-prefix="996">吉尔吉斯斯坦 + 996</option>
                <option value="16" data-prefix="855">柬埔寨 + 855</option>
                <option value="17" data-prefix="886">台湾 + 886</option>
                <option value="18" data-prefix="84">越南 + 84</option>
                <option value="19" data-prefix="27">南非 + 27</option>
            </select>
        </div>
        <input type="number" placeholder="请输入手机号" class="common-input mtb10 pl15" />
        <input type="number" placeholder="请输入密码，必须是6-16位，区分大小写" class="common-input pl15" />

        <input type="number" placeholder="确认密码" class="common-input pl15 mtb10" />

        <input type="button" value="注册" class="common-input  J_login" />

    	<div class="wrapperLogin-close" data-index="1">
    		<img src="../images/login/close.png" />
    	</div>
    </div>
</body>

</html>
<script type="text/javascript" src="../js/product/zepto/zepto.min.js"></script>
<script type="text/javascript" src="../js/product/zepto/touch.js"></script>
<script type="text/javascript" src="../js/guid-page/index.js"></script>
<script type="text/javascript">
		$(".wrapperEntry").on('click','span',function(){
			$(".wrapperLogin").eq($(this).index()).addClass("on");
		})
		$(".wrapperLogin-close").on('click',function(){
			var index =$(this).data('index');
			$(".wrapperLogin").eq(index).removeClass("on");
		})
</script>