<!DOCTYPE html>
<html>

<head>
    <title>话题圈</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/global.css" />
    <link rel="stylesheet" type="text/css" href="../css/guid-page/search.css" />
</head>

<body>

	<!--头部-->
	<header class="common-header ">
		<a  href="javascript:history.back(-1)">返回</a>	
		<h4 >搜索</h4>
	</header>

	<section>
		<!--搜索内容-->
		<div class="pAll15 searchContent">
			<input type="text" placeholder="请输入圈名" class="common-input pl15"/>
			<input type="button"  value="搜索" class="common-input theme-bgGreen"/>
		</div>
		<!--搜索推荐和搜索历史-->
		<div class="searchMain pAll10">

			<ul class="searchMain-tipList ">
				<li>美女</li>
				<li>潘金莲</li>
				<li>武大郎</li>
				<li>西门庆</li>
				<li>郭敬明</li>
				<li>陈学冬</li>
			</ul>
			<div class="searchMain-change fz14">
				<img src="../images/icon/change.png">换一换
			</div>
			
			<ol class="searchMain-history fz16">
				<li>
					章三
				</li>
				<li>章三</li>
				<li>章三</li>
			</ol>
			<div class="searchMain-change fz12 theme-gray searchMain-clearHistory">
				<img src="../images/icon/dustbin.png">清除历史记录
			</div>
		</div>
	</section>
	
	
</body>

</html>
<script type="text/javascript" src="../js/product/zepto/zepto.min.js"></script>
<script type="text/javascript" src="../js/product/zepto/touch.js"></script>