<!DOCTYPE html>
<html>

<head>
    <title>话题圈</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/global.css" />
    <link rel="stylesheet" type="text/css" href="../css/guid-page/trendsDeatil.css" />
</head>

<body>
	<!--头部-->
	<header class="trendsDetail-header plr15">
		<img src="../images/avatar/0.jpeg" class="header-avatar fl" />
		<div class="header-title fl">
			<h4 class="fz14">结婚那些事儿圈</h4>
			<p class="theme-gray fz12">
				<span>19.5万圈友</span>&nbsp;&nbsp;
				<span>9676帖子</span>
			</p>
		</div>
		<input type="button" value="关注"  class="concern-btn fr"/>
	</header>
	<!--文章内容-->
	<section class="plr15 mt10 circleContent">
		<h2 class="circleContent-title mb10">女:70岁你还爱我吗？男:……</h2>
		<div class="circleContent-time theme-blue fz14">
			<span class="theme-gray">2017年8月20日</span>&nbsp;
			<span >倾一米阳光</span>&nbsp;
			<span>结婚那些事儿圈</span>&nbsp;
		</div>
		
		<div class="circleContent-detail fz16">
			<p>
				今天米米看了个新闻，挺有意思，来跟大家分享一下，具体哪天的我不太清楚。
				昨天上午深圳东门老街出现一对奇葩情侣。女的装扮成70岁老太和男朋友结婚，结果两人在大街上当众大吵。原因是女孩试探男朋友真心，化妆成70岁模样，问男70还爱我吗?男的跑了，婚也不结了。最后，问题来了，女人70了，男人还会爱吗?
				有评论说这个女孩作死，好好的大喜日子闹成这样。
				也有网友说女孩问的很真实，你现在看到的是我的年轻貌美，那等我人老珠黄还会爱我吗？
				米米觉得等70了，男人也老的掉牙了，那还会在意你人老珠黄。
				那你呢，女人70了，男人还会爱吗?
			</p>
			<img src="../images/trendsDetail/0.jpeg" class="dpImg mb20" />
			<img src="../images/trendsDetail/1.jpeg" class="dpImg mb20"/>
			<img src="../images/trendsDetail/2.jpeg" class="dpImg mb20"/>
			<img src="../images/trendsDetail/3.jpeg" class="dpImg mb20"/>
			<img src="../images/trendsDetail/4.jpeg" class="dpImg mb20"/>
		</div>
		<div class="circleContent-comment fz12 theme-gray">
			<span>8月20日</span>&nbsp;
			<span>16.5万</span>&nbsp;
			<span>673评</span>&nbsp;
			<span>举报</span>
		</div>
			
		<div class="circleContent-commentMain fz14">
			<h4>热门评论</h4>
			<ol class="commentMain-list">
				<li>
					<!--评价上部分  姓名 点赞 内容 等等....-->
					<div class="list-liTop">
						<div class="fl">
							<img src="../images/avatar/0.jpeg" />
							<span class="fz14 theme-gray">西门庆</span>
						</div>
						<div class="fr">
							<i class="iconfont icon-zan pr10 fz12">&nbsp;667</i>
							<span>. . .</span>
						</div>
					</div>
					<!--评价下部门 评价内容-->
					<div class="list-liBottom">
						<p class="fz16 mb10">相濡以沫到七十也不是现在的感情了！傻姑娘…</p>
						<p class="fz12 theme-gray">
							<span>7楼</span>
							<span>8月21日</span>
						</p>
					</div>
				</li>
				<li>
					<!--评价上部分  姓名 点赞 内容 等等....-->
					<div class="list-liTop">
						<div class="fl">
							<img src="../images/avatar/1.jpeg" />
							<span class="fz14 theme-gray">潘金莲</span>
						</div>
						<div class="fr">
							<i class="iconfont icon-zan pr10 fz12">&nbsp;521</i>
							<span>. . .</span>
						</div>
					</div>
					<!--评价下部门 评价内容-->
					<div class="list-liBottom">
						<p class="fz16 mb10">这种女的神精制 不好相处 喜欢斤斤计较</p>
						<p class="fz12 theme-gray">
							<span>18楼</span>
							<span>8月21日</span>
						</p>
					</div>
				</li>
				<li>
					<!--评价上部分  姓名 点赞 内容 等等....-->
					<div class="list-liTop">
						<div class="fl">
							<img src="../images/avatar/1.jpeg" />
							<span class="fz14 theme-gray">武大郎</span>
						</div>
						<div class="fr">
							<i class="iconfont icon-zan pr10 fz12">&nbsp;321</i>
							<span>. . .</span>
						</div>
					</div>
					<!--评价下部门 评价内容-->
					<div class="list-liBottom">
						<p class="fz16 mb10">我也七十岁的时候会爱七十岁的你，现在的我只想爱现在的你，在这个套路满满的年代，这哥们如果说爱一个七十岁的女人，会不会被你说变态？</p>
						<p class="fz12 theme-gray">
							<span>365楼</span>
							<span>8月21日</span>
						</p>
					</div>
				</li>
			</ol>



			<h4>全部评论</h4>
			<ol class="commentMain-list">
				<li>
					<!--评价上部分  姓名 点赞 内容 等等....-->
					<div class="list-liTop">
						<div class="fl">
							<img src="../images/avatar/0.jpeg" />
							<span class="fz14 theme-gray">西门庆</span>
						</div>
						<div class="fr">
							<i class="iconfont icon-zan pr10 fz12">&nbsp;667</i>
							<span>. . .</span>
						</div>
					</div>
					<!--评价下部门 评价内容-->
					<div class="list-liBottom">
						<p class="fz16 mb10">相濡以沫到七十也不是现在的感情了！傻姑娘…</p>
						<p class="fz12 theme-gray">
							<span>7楼</span>
							<span>8月21日</span>
						</p>
					</div>
				</li>
				<li>
					<!--评价上部分  姓名 点赞 内容 等等....-->
					<div class="list-liTop">
						<div class="fl">
							<img src="../images/avatar/1.jpeg" />
							<span class="fz14 theme-gray">潘金莲</span>
						</div>
						<div class="fr">
							<i class="iconfont icon-zan pr10 fz12">&nbsp;521</i>
							<span>. . .</span>
						</div>
					</div>
					<!--评价下部门 评价内容-->
					<div class="list-liBottom">
						<p class="fz16 mb10">这种女的神精制 不好相处 喜欢斤斤计较</p>
						<p class="fz12 theme-gray">
							<span>18楼</span>
							<span>8月21日</span>
						</p>
					</div>
				</li>
				<li>
					<!--评价上部分  姓名 点赞 内容 等等....-->
					<div class="list-liTop">
						<div class="fl">
							<img src="../images/avatar/1.jpeg" />
							<span class="fz14 theme-gray">武大郎</span>
						</div>
						<div class="fr">
							<i class="iconfont icon-zan pr10 fz12">&nbsp;321</i>
							<span>. . .</span>
						</div>
					</div>
					<!--评价下部门 评价内容-->
					<div class="list-liBottom">
						<p class="fz16 mb10">我也七十岁的时候会爱七十岁的你，现在的我只想爱现在的你，在这个套路满满的年代，这哥们如果说爱一个七十岁的女人，会不会被你说变态？</p>
						<p class="fz12 theme-gray">
							<span>365楼</span>
							<span>8月21日</span>
						</p>
					</div>
				</li>
			</ol>
		</div>

	</section>
	<!--底部 评论-->
	<footer class="footerComment">
		<a href="trendsAppraise.html" class="mr20">
			<input type="text"  placeholder="我来说俩句" />
		</a>
		<div class="plr15 fz12 theme-gray">
			<i class="iconfont icon-zan pr20 fz12 fl">&nbsp;321</i>
			<span class="footerComment-shade fl">分享</span>
		</div>
		
	</footer>
</body>

</html>
<script type="text/javascript" src="../js/product/zepto/zepto.min.js"></script>
<script type="text/javascript" src="../js/product/zepto/touch.js"></script>