<!DOCTYPE html>
<html>

<head>
    <title>话题圈</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/global.css" />
    <link rel="stylesheet" type="text/css" href="../css/guid-page/userCenter.css" />
</head>

<body>
   	<!--头部-->
	<header class="common-header ">
		<a  href="javascript:history.back(-1)">返回</a>	
		<h4>我</h4>
	</header>
	
	<section class="mt10">

		<a href="userCenter-detail.html">
			<div class="pAll15 commonArea">
				<img src="../images/avatar/3.jpeg" class="mr10"/>
				<span class="fz18">杨老湿</span>
			</div>
		</a>
		
		<ol class="userList pl10 mt10">
			<a href="userCenter-messageList.html"><li>
				<i class="iconfont icon-xiaoxi  fz20 theme-green"></i>
				<span>消息</span>
			</li></a>
			<a href="userCenter-publishList.html"><li>
				<i class="iconfont icon-fabiao  fz20 theme-green"></i>
				<span>发表</span>
			</li></a>
		</ol>


	</section>





		
</body>

</html>
<script type="text/javascript" src="../js/product/zepto/zepto.min.js"></script>
<script type="text/javascript" src="../js/product/zepto/touch.js"></script>